<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h2>Logged in User detail</h2>
    <ul>
        <li>Username: {{ current_user.username }}</li>
        <li>Email: {{ current_user.email }} </li>
        <li>Created_on: {{ current_user.created_on }} </li>
        <li>Updated_on: {{ current_user.updated_on }} </li>
    </ul>

    <p>
        <a href="{{ url_for('.logout') }}">Logout</a>
    </p>
</body>
</html>