<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST">
            {{ form.csrf_token }}
            {{ get_flashed_messages()[0] }}
            {% for field in form if field.name != 'csrf_token' %}
                {% if 'Submit' not in field.label() %}
                    <div class="form-label">{{ field.label() }}</div>
                {% endif %}
                <div class="form-field">{{ field }}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endfor %}
        </form>            
    </div>
</body>
</html>